/* место для вашего кода */
.header {
  padding-top: 93px;
  padding-left: 50px;
  padding-bottom: 95px;
  display: flex;
  align-items: center;
  min-height: 105px;
}

.header__menu {
  margin-right: 47px;
}

.header__links-list {
  display: flex;
  gap: 32px;
}

.header__links-list-item {
  list-style-type: circle;
}

.header__links-list-item_no-bullit {
  list-style-type: none;
}

.header__link {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.header__logo {
  display: block;
  margin-right: 192px;
  width: 135px;
  height: 105px;
}

.address a {
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.address p {
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.cover {
  padding-left: 50px;
  padding-right: 50px;
  min-height: 757px;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  position: relative;
}

.cover__title {
  font-family: Raleway, sans-serif;
  font-size: 100px;
  font-weight: 700;
  line-height: 115px;
  color: #ffffff;
}

.aligned-text {
  display: block;
  text-transform: uppercase;
  letter-spacing: 32px;
}

.aligned-text__cetner {
  text-align: center;
}

.aligned-text__right {
  text-align: right;
}
