/* место для вашего кода */
.header {
  padding-top: 93px;
  padding-left: 50px;
  display: flex;
  align-items: center;
  min-height: 105px;
}

.header__menu {
  margin-right: 47px;
}

.header__links-list {
  display: flex;
  gap: 32px;
}

.header__links-list-item {
  list-style-type: circle;
}

.header__links-list-item_no-bullit {
  list-style-type: none;
}

.header__link {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.header__logo {
  display: block;
  margin-right: 192px;
  width: 135px;
  height: 105px;
}

.address a {
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.address p {
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}
