/* место для вашего кода */
.header {
  display: flex;
}

.header__links-list {
  display: flex;
  gap: 28px;
}

.header__links-list-item {
  list-style-type: circle;
}

.header__links-list-item_no-bullit {
  list-style-type: none;
}

.header__link {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.header__logo {
  display: block;
  width: 129px;
  height: 105px;
}

.address a {
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.address p {
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}
